body {
  height: 100vh;
  overflow-y: auto;
}

.navbar-home {
  width: 100%;
  position: fixed !important;
  background-color: #42B549;
  z-index: 6;
}

.navbar-home .navbar-content {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.navbar-home .navbar-content .btn {
  color: #F3F3F3;
  border: 1px solid #EAFFEB;
}

.menu-home {
  margin-top: 60px;
  position: fixed !important;
  width: 100%;
  z-index: 6;
}

.menu-home .menu-content {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  border: 1px solid #F3F3F3;
}

.menu-home .menu-content .menu-item {
  text-align: center;
  text-decoration: none;
  color: #888888;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
}

.menu-home .menu-content .menu-item img {
  height: 40px;
  padding: 5px;
}

.menu-home .menu-content .menu-item.active,
.menu-home .menu-content .menu-item:hover {
  color: #42B549;
  background: #F3F3F3;
}

.main-content {
  padding: 200px 10px 20px 10px;
  margin: auto;
  width: 100%;
  max-width: 960px;
}

@media screen and (max-width: 767px) {
  .main-content {
    padding-top: 150px;
  }
}

.main-content .box-title {
  padding: 10px 0px;
  margin: 20px 0px;
  border-bottom: 2px solid #42B549;
}

.main-content .box-title .title {
  padding: 8px 0px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 5px solid #42B549;
}

.main-content .main-news {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.main-content .main-news .news-item {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.main-content .main-news .news-item .news-info {
  margin-left: 30px;
}

.main-content .main-news .news-item .news-info .news-title {
  font-size: 20px;
}

.main-nominal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nominal .btn-nominal {
  width: 160px;
  margin: 3px;
  color: #888888;
  background: #F5F5F5;
  border: 1px solid #EAFFEB;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .main-nominal .btn-nominal {
    width: 180px;
  }
}

.main-nominal .btn-nominal .nominal-text {
  margin: 0px;
  font-size: 14px;
}

.main-nominal .btn-nominal:hover {
  cursor: pointer;
}

.main-nominal .btn-nominal.active {
  border: 1px solid #42B549;
}

