$base-color: #42B549;
$base-light-color: #EAFFEB;
$light-color: #F3F3F3;
$white-color: #FFFFFF;
$font-primary: #333333;
$font-secondary: #888888;
$font-light-secondary: #F5F5F5;
$font-size-title: 20px;
$font-size-subtitle: 14px;
$font-size-content: 11px;
body {
    height: 100vh;
    overflow-y: auto;
}

.navbar-home {
    width: 100%;
    position: fixed !Important;
    background-color: $base-color;
    z-index: 6;
    .navbar-content {
        margin: auto;
        width: 100%;
        max-width: 1200px;
        .btn {
            color: $light-color;
            border: 1px solid $base-light-color;
        }
    }
}

.menu-home {
    margin-top: 60px;
    position: fixed !Important;
    width: 100%;
    z-index: 6;
    .menu-content {
        margin: auto;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        border: 1px solid $light-color;
        .menu-item {
            text-align: center;
            text-decoration: none;
            color: $font-secondary;
            font-weight: bold;
            font-size: $font-size-subtitle;
            padding: 10px 20px;
            img {
                height: 40px;
                padding: 5px;
            }
            &.active, &:hover {
                color: $base-color;
                background: $light-color;
            }
        }
    }
}

.main-content {
    padding: 200px 10px 20px 10px;
    margin: auto;
    width: 100%;
    max-width: 960px;
    @media screen and (max-width:767px) {
        padding-top: 150px;
    }
    .box-title {
        padding: 10px 0px;
        margin: 20px 0px;
        border-bottom: 2px solid $base-color;
        .title {
            padding: 8px 0px;
            font-weight: bold;
            font-size: $font-size-title;
            border-bottom: 5px solid $base-color;
        }
    }
    .main-news {
        display: flex;
        flex-direction: column;
        padding: 5px;
        .news-item {
            display: flex;
            flex-direction: row;
            margin: 10px 0px;
            .news-info {
                margin-left: 30px;
                .news-title {
                    font-size: $font-size-title;
                }
            }
        }
    }
}

.main-nominal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .btn-nominal {
        width: 160px;
        margin: 3px;
        color: $font-secondary;
        background: $font-light-secondary;
        border: 1px solid $base-light-color;
        padding: 10px;
        text-align: center;
        @media screen and (min-width:767px) {
            width: 180px;
        }
        .nominal-text {
            margin: 0px;
            font-size: $font-size-subtitle;
        }
        &:hover {
            cursor: pointer;
        }
        &.active {
            border: 1px solid $base-color;
        }
    }
}
