.main-login {
    padding-top: 125px;
    width: 100%;
    height: 400px;
    .login-box {
        width: 100%;
        margin: auto;
        max-width: 756px;
        @media screen and (min-width:767px) {
            padding: 100px 20px;
            background: url('/img/login-bg.svg') no-repeat;
            background-size: cover;
        }
        .login-container {
            width: 330px;
            margin: auto;
            height: 360px;
            border-radius: 10px;
            box-shadow: 0 0 6px 0 rgba(0,0,0,.12)!important;
            padding: 30px 25px;
            .btn-register {
                font-size: 16px;
                text-decoration: none;
                color: #42B549;
            }
        }
    }
}
